@using WhatsForLunch

<div>
    @if (this.Day?.Menu == null)
    {
        <div>No menu.</div>
    }
    else
    {
        <div>
            @foreach (var item in this.Day.Menu.Items)
            {
                <div>@item</div>
            }
        </div>
    }
</div>

@code
{
    [Parameter]
    public LunchDay? Day { get; set; }
}
