.view {
    border: 5px;
    border-color: red;
    border-style: solid;
}

.header {
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
}

.dayOfWeek {
    align-self: flex-start;
}

.date {
    align-self: flex-end;
}