.view {
    border: 5px;
    border-color: gray;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.today {
    border-color: red;
}

.header {
    color: gray;
    border-color: gray;
    border-style: solid;
    border-width: 0 0 5px 0;
    display: grid;
    grid-column: 1;
    grid-row: 1;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 5px;
}

.todayHeader {
    background-color: red;
    border-color: red;
    color: white;
}

.items {
    padding: 50px;
}

.dayOfWeek {
    font-weight: bold;
    font-size: larger;
    grid-column: 1;
    grid-row: 1;
}

.date {
    font-size: large;
    grid-column: 1;
    grid-row: 2;
    justify-self: end;
}

.noMenu {
    align-self: center;
    justify-self: center;
}