@page "/"
@using WhatsForLunch;
@inject HttpClient Http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@if (calendar == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <LunchDayView Day=this.calendar.Today />
        <LunchDayView Day=this.calendar.Next />
    </div>
}

@code
{
    private LunchCalendar? calendar;

    protected override async Task OnInitializedAsync()
    {
        this.calendar = await Http.GetFromJsonAsync<LunchCalendar>("api/v1/todayslunch");
    }
}