@page "/"
@using WhatsForLunch;
@inject ILunchCalendarService LunchCalendarService
@inject TimeZoneService TimeZoneService

<PageTitle>What's for Lunch?</PageTitle>

<h1>What's for Lunch?</h1>

@if (calendar == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="calendar">
        <div class="today">
            <LunchDayView Day=this.calendar.Today IsToday=true />
        </div>
        <div class="next">
            <LunchDayView Day=this.calendar.Next IsToday=false />
        </div>
    </div>
}

@code
{
    private LunchCalendar? calendar;

    protected override async Task OnInitializedAsync()
    {
        var offset = await TimeZoneService.GetLocalDateTime();
        var today = DateOnly.FromDateTime(DateTimeOffset.UtcNow.ToOffset(offset).Date);

        this.calendar = await LunchCalendarService.GetTodaysLunch(today);
    }
}
